button:hover {
  cursor: pointer;
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-btn {
  margin: 10px;
  height: 300px;
  width: 300px;
  border-style: none;
}

/* .game-btn:hover {
  scale: 105%;
} */

.green {
  background-color: green;
  border-top-left-radius: 100%;
}

.red {
  background-color: red;
  border-top-right-radius: 100%;
}

.blue {
  background-color: blue;
  border-bottom-left-radius: 100%;
}

.yellow {
  background-color: rgba(255, 255, 0, 0.775);
  border-bottom-right-radius: 100%;
}

.play-btn {
  position: absolute;
  border-style: none;
  background-color: rgb(53, 55, 56);
  color: white;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 30px;
}

.play-btn:hover {
  font-size: 40px;
}

.btn-pop {
  /* -webkit-filter: brightness(2); */
  filter: brightness(2);
  scale: 105%;
}

.score {
  position: absolute;
  border-style: none;
  background-color: rgb(53, 55, 56);
  color: white;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 30px;
}
